* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  
}

body {
  font-size: 1.2em; 
  margin: 0px;
  padding: 0;
 
}

.container {
  width: 100%;
  margin: 0 auto;
}
.flex-container {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: space-between;
  justify-content: flex-start;
  }

@media (max-width: 800px) {
  .flex-container {
    display: flex;
    flex-direction: column;
    
   
  }
  
}
.flex-container > div {
  
  margin: 2px;
  padding: 30px;
  font-size: 30px;
  text-align: center;
  
  
}

nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  gap: 0.5rem;
  border-bottom: solid 1px #aaa;
  background-color: #eee;
}
.category-button {
  background-color: #4B4A1E;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
nav a {
  display: inline-block;
  min-width: 9rem;
  padding: 0.5rem;
  border-radius: 0.2rem;
  border: solid 1px #aaa;
  text-align: center;
  text-decoration: none;
  color: #555;
}
.category-box {
  border: 1px solid #4B4A1E;
  padding: 5px;
  margin: 0px;
  width: 100%;
}
nav a[aria-current='page'] {
  color: #000;
  background-color: #d4d4d4;
}

main {
  padding: 1rem;
}
box1 {
  background-color: transparent;
  width: 100px;
  height: 100px;
  border: 10px solid #4B4A1E;
  padding: 80px;
  margin: 750px;
  margin-top: 15px;
  
}
logo {
  position:relative;
  top:-16px;
  right:-1024px;
  
}

table, th, td {
  border: 1px solid Black;}
  table {
  width: 100%;}
  @media screen and (min-width: 800px) {
    table {
    width: 80%;}
  }
  @media screen and (min-width: 1000px) {
    table {
    width: 70%;}
  }

table1, th, td {
  border:0px solid white;
}
h1 {
  font-weight: bold;
  font-size: 40px;
  color: #00231c;
}
h2 {
  font-weight: bold;
  font-size: 30px;
  color: #00231c;
}
h3 {
  font-weight: bold;
  font-size: 20px;
  color: #00231c;
}
body {
  background: #D0D8DB;
  padding-top: 60px;
  padding-bottom: 40px;
  width: 100%;
}

textarea {
  resize: none;
}

.text {
color: white;
font-size: 20px;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
white-space: nowrap;
}

.svg-inline--fa {
vertical-align: -0.200em;
}

.rounded-social-buttons {
text-align: center;
}

.rounded-social-buttons .social-button {
display: inline-block;
position: relative;
cursor: pointer;
width: 3.125rem;
height: 3.125rem;
border: 0.125rem solid transparent;
padding: 0;
text-decoration: none;
text-align: center;
color: #fefefe;
font-size: 1.5625rem;
font-weight: normal;
line-height: 2em;
border-radius: 1.6875rem;
transition: all 0.5s ease;
margin-right: 0.25rem;
margin-bottom: 0.25rem;
}

.rounded-social-buttons .social-button:hover, .rounded-social-buttons .social-button:focus {
-webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
        transform: rotate(360deg);
}

.rounded-social-buttons .fa-twitter, .fa-facebook-f, .fa-linkedin, .fa-tiktok, .fa-youtube, .fa-instagram {
font-size: 25px;
}

.rounded-social-buttons .social-button.facebook {
background: #3b5998;
}

.rounded-social-buttons .social-button.facebook:hover, .rounded-social-buttons .social-button.facebook:focus {
color: #3b5998;
background: #fefefe;
border-color: #3b5998;
}

.rounded-social-buttons .social-button.twitter {
background: #55acee;
}

.rounded-social-buttons .social-button.twitter:hover, .rounded-social-buttons .social-button.twitter:focus {
color: #55acee;
background: #fefefe;
border-color: #55acee;
}

.rounded-social-buttons .social-button.linkedin {
background: #007bb5;
}

.rounded-social-buttons .social-button.linkedin:hover, .rounded-social-buttons .social-button.linkedin:focus {
color: #007bb5;
background: #fefefe;
border-color: #007bb5;
}

.rounded-social-buttons .social-button.tiktok {
background: #000000;
}

.rounded-social-buttons .social-button.tiktok:hover, .rounded-social-buttons .social-button.tiktok:focus {
color: #000000;
background: #fefefe;
border-color: #000000;
}

.rounded-social-buttons .social-button.youtube {
background: #bb0000;
}

.rounded-social-buttons .social-button.youtube:hover, .rounded-social-buttons .social-button.youtube:focus {
color: #bb0000;
background: #fefefe;
border-color: #bb0000;
}

.rounded-social-buttons .social-button.instagram {
background: #125688;
}

.rounded-social-buttons .social-button.instagram:hover, .rounded-social-buttons .social-button.instagram:focus {
color: #125688;
background: #fefefe;
border-color: #125688;
}
